.searchbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & .top-row {
        padding: 12px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    & .secondary-row {
        padding-bottom: 12px;
    }

    & .btn {
        margin-left: 1rem;
    }
}